@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

.apexcharts-datalabel,
.apexcharts-data-labels text {
  display: none !important;
}

h1 {
  font-size: 30px;
}
h2 {
  font-size: 25px;
}

svg {
  display: inline;
  color: oklch(96.7% 0.001 286.375);
}

.chart-tooltip {
  padding: 4px 8px;
  font-size: 12px !important;
  background: #f4f4f5;
  color: oklch(14.1% 0.005 285.823) !important;
  font-family: "roboto mono";
  border-radius: 6px;
}

body {
	background-color: #f4f4f5;
  color: #09090b;
  font-family: "roboto mono";
	transition: background-color 0.3s
}

body.dark {
	color: #f4f4f5;
  background-color: #09090b;
}


@layer utilities {
  .brightness-20 {
    filter: brightness(0.2);
  }
  .brightness-40 {
    filter: brightness(0.4);
  }
  .brightness-60 {
    filter: brightness(0.6);
  }
  .brightness-80 {
    filter: brightness(0.8);
  }
}
