@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

.apexcharts-datalabel,
.apexcharts-data-labels text {
  display: none !important;
}

h1 {
  font-size: 30px;
}
h2 {
  font-size: 25px;
}

button {
  cursor: pointer;
}

svg {
  display: inline;
  color: #f4f4f5;
}

.chart-tooltip {
  padding: 4px 8px;
  font-size: 12px !important;
  background: #f4f4f5;
  color: oklch(14.1% 0.005 285.823) !important;
  font-family: "roboto mono";
  border-radius: 6px;
}

body {
  background-color: #f4f4f5;
  color: #18181b;
  font-family: "roboto mono";
  transition: background-color 0.3s;
}

body.dark {
  color: #f4f4f5;
  background-color: #18181b;
}

.shadow-solid {
 transition: box-shadow 0.3s ease-in-out;
  box-shadow: 4px 6px 0 0 rgba(244,244,245,1);
}

.shadow-solid-transition {
  @apply shadow-none transition-shadow ease-in-out duration-300; /* remove Tailwind default shadows */
  box-shadow: 4px 6px 0 0 rgba(244,244,245,1);
}

.shadow-soft {
  @apply shadow-lg shadow-zinc-500/50 ;
}

.shadow-soft-transition {
  @apply shadow-lg hover:shadow-zinc-500/50 transition-shadow ease-in-out duration-300;
}

@layer utilities {
  .brightness-20 {
    filter: brightness(0.2);
  }
  .brightness-40 {
    filter: brightness(0.4);
  }
  .brightness-60 {
    filter: brightness(0.6);
  }
  .brightness-80 {
    filter: brightness(0.8);
  }
}
