@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));


@font-face {
  font-family: "Roboto Mono";
  src: url("/roboto-mono-v31-latin-regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

.apexcharts-datalabel,
.apexcharts-data-labels text {
  display: none !important;
}

h1 {
  font-size: 30px;
}

h2 {
  font-size: 25px;
}

button {
  cursor: pointer;
}

svg {
  display: inline;
}

@layer base {
  :focus {
    @apply outline-none;
  }

  :focus-visible {
    @apply outline-none ring-2 ring-green-600 ring-offset-2 ring-offset-transparent z-50;
  }
}

.chart-tooltip {
  padding: 4px 8px;
  font-size: 12px !important;
  background: #f4f4f5;
  color: oklch(14.1% 0.005 285.823) !important;
  font-family: "roboto mono";
  border-radius: 6px;
}

body {
  background-color: #f4f4f5;
  color: #18181b;
  font-family: "roboto mono","Liberation Mono";
  transition: background-color 0.3s;
}

body.dark {
  color: #f4f4f5;
  background-color: #18181b;
}

